@{
    ViewBag.Title = "My Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    920 W FOREST AVE<br />
    Detroit, MI 48202<br />
    <abbr title="Phone">P:</abbr>
    929.231.9777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">arifcse12@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">arifcse12@gmail.com</a>
</address>